<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeRacer Stats</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.png">
    <link href="/static/css/base.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <div class="title-container">
        <img src="/assets/images/logo.png" alt="TypeRacer Stats Logo" class="logo">
        <div class="header-title">TypeRacer Stats</div>
    </div>
    <div class="page-title">{% block title %}{% endblock %}</div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© TypeRacer Stats • Built with ❤ by <a href="https://data.typeracer.com/pit/profile?user=keegant" target="_blank">keegant</a> • <a href="https://www.paypal.com/donate/?business=X9JW4MC3CLNAE&no_recurring=0&currency_code=USD&item_name=TypeRacer+Stats" target="_blank">Support</a></p>
</footer>
</body>
</html>
